<html>
  <head>
    <style>
      body {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
      }

      canvas {
        border: 1px solid black;
        width: 300px;
        height: 300px;
      }
    </style>
  </head>

  <body>
    <div>
      Draw A, B, C, D or E
    </div>
    <canvas></canvas>
    <div>
      I think you are drawing: 
      <span data-prediction>...</span>
    </div>

    <script src="/static/index.js"></script>
  </body>
</html>